{% extends "base.html" %}
{% block content %}
    <h1>Sign in</h1>
    <form id="login-form" action="" method="POST"  name="login">
        {{ form.hidden_tag() }}
        <p>
            Please enter your OpenId:
            {{ form.openid(size=20) }}<br>
            {% for error in form.openid.errors%}
                <span style="color:red">{{ error }}</span>
            {% endfor %}
        </p>
        {% for provider in providers %}
            <p>
                {{ provider.name }}
            </p>
        {% endfor %}
        <p>
            Remember me: {{ form.remember_me }}
        </p>
        <input height="20" type="submit" value="Sign in">
    </form>
{% endblock %}